body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #2c041c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

h1 span {
    font-size: 2.5rem;
    color: #ff4081;
}

#quote-container {
    background-color: #e7d3f1;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: #67032f;
    margin-bottom: 20px;
}


#quote {
    font-style: italic;
}

button {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(150, 22, 150);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #2c041c;
    transition: all 0.3s ease;
    border-radius: 50px;
}

button:active {
    background-color: #2c041c;
    transform: translateY(1px);
}

button:focus {
    outline: none;
}

#start-session-btn{
    text-align: center;
}

#manage-todo-btn{
    text-align: center;
}

